<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".m2ts" mimeType="video/mpeg" />
      <mimeMap fileExtension=".mts" mimeType="video/mpeg" />
    </staticContent>
    <defaultDocument>
      <files>
        <add value="status.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
